.login {
}
.form-1 {
    margin-top: 16px;
}
.form-group {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    margin-bottom: 16px;
    label {
        padding: 8px 0;
    }
    input {
        overflow: visible;
        padding: 8px;
        border-radius: 2px;
        border: 1px solid #ccc;
        color: #ccc;
        width: 100%;
        &:focus {
            color: #495057;
            background-color: #fff;
            border-color: #61d2ff;
            outline: 0;
            -webkit-box-shadow: 0 0 0 0.2rem rgb(0 161 224 / 25%);
            box-shadow: 0 0 0 0.2rem rgb(0 161 224 / 25%);
        }
    }
}
.btn-login{
    width: 100%;
}
