// sidebar
.custom-select {
    select {
        padding: 6px 28px 6px 12px;
        border: 1px solid #ced4da;
        border-radius: 0.1875rem;
        font-size: 1.6rem;
        width: 100%;
        option {
        }
    }
}
.card {
    border: 1px solid #ced4da;
    margin: 8px 0;
}
.card-item {
    padding: 6px 28px 6px 12px;
    color: #00a1e0;
    list-style-type: none;
    font-size: 1.3rem;
    input {
        margin-right: 4px;
    }
    li {
        margin: 4px;
    }
}
.card-header {
    padding: 6px 28px 6px 12px;
    border-bottom: 1px solid #ced4da;
    font-size: 1.6rem;
    p {
        margin: 0;
    }
}
//sidebar color
.color {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
}
.btn-circle-color {
    border-radius: 50%;
    border: none;
    padding: 0;
    cursor: pointer;
    .circle {
        border-radius: 50%;
        padding: 6px;
        width: 4rem;
        height: 4rem;
        display: inline-block;
    }
}
.circle-beige {
    background-color: beige;
}
.circle-black {
    background-color: black;
}
.circle-blue {
    background-color: blue;
}
.circle-navy {
    background-color: navy;
}
.circle-brown {
    background-color: brown;
}
.circle-green {
    background-color: green;
}
.circle-grey {
    background-color: grey;
}
.circle-pink {
    background-color: pink;
}
.circle-purple {
    background-color: purple;
}
.circle-orange {
    background-color: orange;
}
.circle-white {
    background-color: white;
}

.circle-red {
    background-color: red;
}
.circle-yellow {
    background-color: yellow;
}
.circle-miscellaneous {
    background-color: miscellaneous;
}
