.container {
}
.container_catelory-image {
    img {
        border-style: none;
        height: 25vw;
    }
}
.container_catelory-title-list {
    margin: 8px 0;
    img {
        border-style: none;
        height: auto;
        max-width: 100%;
    }
}
