.header{
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}
.product-item{
    padding: 8px 0 32px 0;

}
.product-item_img{
   overflow: hidden;
    img {
        width: 227px;
        height: 227px;
        object-fit: contain;
    }
}
.product-item_desc {
    font-size:  1.4rem;
}

.product-item_price {
    font-size: 1.6rem;
    font-weight: 600;
}

.product-item__rating {

}
