.banner{
    img{
        width: 100%;
    }
}
.womens {
    cursor: pointer;

    img {
        width: 100%;
        overflow: hidden;
        height: 336px;
        object-fit: cover;
    }
}
.mens {
    height: 100%;
    img{
        max-height: 673px;
        object-fit: cover;
    }
}
.item {
    position: relative;
    span {
        position: absolute;
        bottom: 35px;
        left: 28px;
        font-size: 1.6rem;
        z-index: 2;
        color: white;
        font-size: 2rem;
    }
}
