.main-header {
    position: relative;
    height: var(--header-height);
    background-color: var(--header-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 200;

    .main-header_comtainer {
        width: var(--width-contain);
        height: inherit;
    }
    .main-header_list {
        display: flex;
        height: inherit;
        padding: 0;
        list-style-type: none;
        margin: 0;
    }
    .main-header_item {
        z-index: 1;
        align-self: stretch;
        display: flex;
        align-items: center;
        &:hover {
            background-color: var(--white-color);
            a {
                color: var(--menu-hover-color);
            }
            > ul {
                display: block;
            }
        }
        &:focus{
            >ul{
                display: none;
            }
        }
    }
    a {
        color: var(--white-color);
        text-decoration: unset;
        padding: 8px 8px 8px 16px;
    }
    .main-header_icon {
        font-size: 1.4rem;
        margin-left: 6px;
    }
}
.newarrivals_list,
.womens_list,
.mens_list,
.electronics_list {
    display: none;
    position: absolute;
    top: 100%;
    background-color: var(--white-color);
    min-width: 200px;
    box-shadow: 0 3px 5px rgb(43 36 25 / 40%);
    padding-top: 8px;
    padding-left: 0;
    background-color: var(--white-color);
    min-width: 200px;
    box-shadow: 0 3px 5px rgb(43 36 25 / 40%);
    padding-top: 8px;
    padding-left: 0;
    list-style-type: none;
}
.newarrivals_item,
.womens_item,
.mens_item,
.womens-jewelry_item,
.womens-accessories_item,
.electronics_item {
    position: relative;
    list-style-type: none;
    border-bottom: 1px solid #eee;
    > a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;
    }

    &:hover {
        cursor: pointer;
        text-decoration: underline;
        background-color: #e9ecef;
        > ul {
            display: block;
        }
    }
}
.womens-clothing_list,
.womens-jewelry_list,
.womens-accessories_list,
.mens-clothing_list,
.mens-accessories_list,
.electronics-televisions_list,
.electronics-gaming_list {
    position: absolute;
    display: none;
    left: 100%;
    top: 0;
    list-style-type: none;
    padding: 0;
    width: inherit;
    height: inherit;
    background-color: var(--white-color);
    min-width: 200px;
    box-shadow: 0 3px 5px rgb(43 36 25 / 40%);
    padding-top: 8px;
    padding-left: 0;
}
.womens-clothing_item,
.womens-jewelry_item,
.womens-accessories_item,
.mens-clothing_item,
.mens-accessories_item,
.electronics-televisions_item,
.electronics-gaming_item {
    position: relative;
    list-style-type: none;
    border-bottom: 1px solid #eee;
    > a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;
    }

    &:hover {
        cursor: pointer;
        text-decoration: underline;
        background-color: #e9ecef;
        > ul {
            display: block;
        }
    }
}
