// header-top
.navbar-header {
    padding: 8px;
}
.navbar-header_login {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 32px;
    button {
        border: none;
        background-color: transparent;
        font-size: 1.6rem;
        color: #444;
        a {
            padding-left: 8px;
            text-decoration: none;
        }
        &:hover {
            a {
                text-decoration: underline;
                color: #444;
            }
        }
    }
}
.navbar-header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-header_nav-logo {
    cursor: pointer;
    img {
        width: 226px;
    }
}
.navbar-header_nav-search-container {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 64px;
}
.navbar-header_nav-search {
    position: relative;
    display: flex;
    width: 320px;
    input {
        flex: 1 1;
        height: 100%;
        font-size: 1.6rem;
        outline: none;
        padding-left: 8px;
        line-height: 1.6rem;
        padding: 8px 42px 8px 8px;
        border: 1px solid #ced4da;
        border-radius: 4px;
        &:focus {
            color: #495057;
            background-color: #fff;
            border-color: #61d2ff;
            outline: 0;
            -webkit-box-shadow: 0 0 0 0.2rem rgb(0 161 224 / 25%);
            box-shadow: 0 0 0 0.2rem rgb(0 161 224 / 25%);
        }
    }
}
.navbar-header_nav-search-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    font-size: 1.6rem;
    padding: 0 16px;
    cursor: pointer;
    border: navajowhite;
    background-color: transparent;
}

.navbar-header_nav-card {
    font-size: 2.5rem;
    color: #444;
    padding: 8px 32px;
    cursor: pointer;
}

.main-header {
    position: relative;
    height: var(--header-height);
    background-color: var(--header-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 200;

    .main-header_container {
        width: var(--width-contain);
        height: inherit;
    }
    .main-header_list {
        display: flex;
        height: inherit;
        padding: 0;
        list-style-type: none;
        margin: 0;
    }
    .main-header_item {
        z-index: 1;
        align-self: stretch;
        display: flex;
        align-items: center;
        &:hover {
            background-color: var(--white-color);
            a {
                color: var(--menu-hover-color);
            }
            > ul {
                display: block;
            }
        }
        &:focus {
            > ul {
                display: none;
            }
        }
    }
    .hiden {
        > ul {
            display: block;
        }
    }
    a {
        color: var(--white-color);
        text-decoration: unset;
        padding: 8px 8px 8px 16px;
    }
    .main-header_icon {
        font-size: 1.4rem;
        margin-left: 6px;
    }
}
.newarrivals_list,
.womens_list,
.mens_list,
.electronics_list {
    display: none;
    position: absolute;
    top: 100%;
    background-color: var(--white-color);
    min-width: 200px;
    box-shadow: 0 3px 5px rgb(43 36 25 / 40%);
    padding-top: 8px;
    padding-left: 0;
    background-color: var(--white-color);
    min-width: 200px;
    box-shadow: 0 3px 5px rgb(43 36 25 / 40%);
    padding-top: 8px;
    padding-left: 0;
    list-style-type: none;
}
.newarrivals_item,
.womens_item,
.mens_item,
.womens-jewelry_item,
.womens-accessories_item,
.electronics_item {
    position: relative;
    list-style-type: none;
    border-bottom: 1px solid #eee;
    > a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;
    }

    &:hover {
        cursor: pointer;
        text-decoration: underline;
        background-color: #e9ecef;
        > ul {
            display: block;
        }
    }
}
.womens-clothing_list,
.womens-jewelry_list,
.womens-accessories_list,
.mens-clothing_list,
.mens-accessories_list,
.electronics-televisions_list,
.electronics-gaming_list {
    position: absolute;
    display: none;
    left: 100%;
    top: 0;
    list-style-type: none;
    padding: 0;
    width: inherit;
    height: inherit;
    background-color: var(--white-color);
    min-width: 200px;
    box-shadow: 0 3px 5px rgb(43 36 25 / 40%);
    padding-top: 8px;
    padding-left: 0;
}
.womens-clothing_item,
.womens-jewelry_item,
.womens-accessories_item,
.mens-clothing_item,
.mens-accessories_item,
.electronics-televisions_item,
.electronics-gaming_item {
    position: relative;
    list-style-type: none;
    border-bottom: 1px solid #eee;
    > a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;
    }

    &:hover {
        cursor: pointer;
        text-decoration: underline;
        background-color: #e9ecef;
        > ul {
            display: block;
        }
    }
}
