@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

:root {
    --primari-color: #00a1e0;
    --width-contain: 1140px;
    --white-color: white;
    //header
    --header-height: 50px;
    --header-color: #444444;
    --menu-hover-color: #444;

}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
}
